*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--maisescuro);
    color: var(--claro);
    overflow-x: hidden;
}

.navegacao{
    background: rgba(15, 23, 42, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1.5rem;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}
.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    padding: 0.5rem ;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    position: relative;
}
.menu-link::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
}
.menu-link:hover::after{
    width: 100%;
    transition: width 0.5s ease;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-perfil{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 4px solid var(--vidro);
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);

}

h1{
    color: var(--primaria);;
    font-weight: bold;
    margin: 5px;
}

.cabecalho-sub-titulo{
    font-size: 1.3rem;
    color: var(--claro);
    text-align: center;
}

.sobre{
    
}